 @font-face {
    font-family: 'Panton Black';
    src: url(../fonts/panton/Panton-BlackCaps.otf);
}

.navbar {
	background-color: #1a5a63 !important;
}

.malicsi-text, .malicsi-text:hover {
	font-family: "Panton Black";
	font-size: 40px;
	color: #fff !important;
	color: rgba(0, 0, 0, 0.75);
}

.malicsi-text i {
	font-size: 24px !important;
	position: absolute !important;
	top:20px !important;
}

.nav-btn {
	font-size: 20px;
	color: #fff !important;
}

.log-dd {
	color: #fff !important;
}

.login {
	border-left-color: rgba(0, 0, 0, 0.1);
	border-left-width: 1px;
	border-left-style: solid;
}

.logo-container {
	width: 100%;
	text-align: center;
}

.logo-container img {
	width: 50px;
	margin-top: 12px;
}

#username {
	font-size: 20px;
	margin-right: 10px;
}

#log-dd, #reg-dd, #va-mob, #vu-mob, #vp-mob, #logo-mob {
	font-size: 20px !important;
}

#logo-mob {
	color: red !important;
}

#lr-dd {
	display: none;
}

#logreg-dd {
	display: none;
}

.header.reg-modal-header, .header.log-modal-header {
	text-align: center;
	font-size: 30px !important;
}

@media only screen and (max-width: 767px) {
  #log, #reg, #username {
  	display: none;
  }

  .logo-container {
  	display: none;
  }

  #lr-dd {
  	display: inherit;
  }

  #logreg-dd
}