@font-face {
    font-family: "Panton";
    src: url("../fonts/panton/Panton-BlackCaps.otf");
}

nav {
    background-color: white;
    font-family: "Panton";
}

.brand-logo {
    margin-left: 2%;
}

nav-wrapper {
    position: fixed;
}

.nam {
    font-size: 75%;
    text-align: center;
}

.reg {
    font-size: 120%;
    border-bottom: 1px solid red;
}

.box {
    min-height: 20px;
    line-height: 100%;
    padding-top: 15%;
    padding-bottom: 20%;
}

.si {
}

h4 {
    text-align: center;
    padding-top: 10%;
    font-size: 75px;
    font-family: "Panton";
}

.modal {
    max-width: 50%;
    max-height: 100%;
    overflow-y: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 30%;
}

.form-content {
    width: 100%;
    height: 58%;
    background-color: white;
}

.register {
    text-align: center;
    padding-top: 2%;
    font-size: 50px;
    font-family: "Panton";
}

.login {
    text-align: center;
    padding-top: 8%;
    font-size: 80px;
    font-family: "Panton";

}

#field-inputs {
    margin-bottom: 1%;
}

#content-register {
    width: 100%;
    height: 15%;
}

#register-name {
    margin-top: 1%;
    margin-bottom: -25%;
}

#login-users {
    margin-top: 5%;
    margin-bottom: 5%;
}

#register-users {
    margin-top: 0%;
    margin-bottom: -25%;
}

#labels {
    color: black;
    font-size: 13px;
    font-family: "Panton";
}

#row-password {
    text-align: center;
    margin-right: 16%;
}

#label-forgot {
    color: black;
    font-size: 13px;
    font-family: "Panton";
    text-decoration: underline;
}

#label-enter {
    font-size: 20px;
    font-family: "Panton";
}

#login-form, #register-form {
    padding-left: 15%;
}

#modal-button {
    text-align: center;
    padding-bottom: 2%;
    background-color: white;
}
