.add-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 100;
    color: white;
    background-color: #2185D0;
    /*padding: 25px;*/
    text-align: center;
    line-height: 85px !important;
    border-radius: 500px;
    width: 65px;
    height: 65px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.add-btn:hover {
    color: white;
}

.contents {
    text-align: center;
    margin: 75px !important;
}

.main-content {
    flex: 1 0 auto !important;
}

.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.img-container {
    background-color: teal;
}
