
.caption {
	padding-top: 75px !important;
	margin-top: 75px !important;
	color: #fff;
	width: 100%;
	position: absolute;
	top: 0;
	text-align: center;
	font-size: 50px !important;
}

.slide-img {
	width: 100%;
}


.contents {
	text-align: center;
}


#cg {
	margin-top: 10px !important;
}

.header.game-title {
	font-size: 24px !important;
}