
.caption {
	color: #fff;
	width: 100%;
	position: absolute;
	bottom: 75px;
	text-align: center;
	font-size: 20px;
}


.slide-container {
	height: 300px !important;
}

.slide-img {
	width: 100%;
}


.contents {
	text-align: center;
}


#cg {
	margin-top: 10px !important;
}

.header.game-title {
	font-size: 24px !important;
}