#personal-info {
    width: 100%;
    display: inline-block;
}

#events_played, #upcoming_events {
    width: 100%;
}

.profile-pic {
	float: left;
}

.profile-pic img {
	width: 250px !important;
	margin-bottom: 25px !important;
}

#name {
	font-size: 36px;
}

#info {
	margin-left: 300px !important;
	text-align: left;
}

.info-field {
	font-size: 20px;
	margin-bottom: 9px;
}

@media only screen and (max-width: 767px) {
	.profile-pic img{
		float: none;
	}

	#info {
		margin-left: 0 !important;
		text-align: center;
	}
}