span#sponsor-header {
  width: 100% !important;
  font-size: 50px !important;
  text-align: center !important;
}

#spons {
  margin-top: 40px !important;
}

.add-sponsor-header, .edit-game-header {
	font-size: 30px !important;
	text-align: center !important;
}

#butt-container {
	margin: auto !important;
	width: 80% !important;
}

@media only screen and (max-width: 767px) {
  #butt-container {
	width: 100% !important;
}
}
