#team-table, #sched-table {
	width: 100% !important;
}

.content.sched {
	width: 100% !important;
	text-align: center;
}

.view-match-container {
	width: 100% !important;
	text-align: right !important;
}

@media only screen and (max-width: 767px) {
	.view-match-container {
		text-align: center !important;
	}

	#team-table {
		text-align: center !important;
	}
}