
.team-member {
	float: left;
	margin-top: 50px;
	margin-right: 2%;
	width: 39%;
	padding: 10px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.125);
}

.team-matches {
	float: left;
	margin-top: 50px;
	width: 59%;
	padding: 10px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.125);
}

