<div class="main-container" ng-controller="LogController">

  <!-- Search -->
  <div class="row contents">
    <form class="col s10 right"">
      <div class="row">
        <div class="input-field col s6 right" class="search">
          <i class="fa fa-search prefix"></i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Search user</label>
        </div>
      </div>
    </form>
  </div>

  <h4 class="header">{{profile.firstname}} {{profile.middlename}} {{profile.lastname}}</h4>
  <div class="row contents table">
    <table class="striped">
      <thead>
        <tr>
            <th>Time</th>
            <th>Activity</th>
        </tr>
      </thead>

      <tbody ng-init = "get_all_logs()">
        <tr ng-repeat = "data in logs | orderBy:'-log_date'">
          <td>{{data.log_date | date: 'medium'}}</td>
          <td>{{data.log_description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
