<footer class="page-footer teal">
  <p class="footer-content grey-text text-lighten-4">
    MalICSi is a sports management application catered for UPLB individuals which aims to showcase reliable person-game information and interaction. MalICSihan is developed by 21 undergraduate students from the Institue of Computer Science to achieve an academic requirement in their CMSC 128: An Introduction to Software Engineering class.
  </p>
  <div class="copyright">Copyright 2017 CMSC 128 | A-5L</div>
</footer>