<div ng-controller="game-event-controller" ng-init="get_upcoming_games(); get_current_games()">
  <!-- button for adding new game-->
  <a class="btn-floating btn-large waves-effect waves-light blue accent-4 add-button" href="javascript:void(0)" data-target="modal2" modal><i class="fa fa-plus"></i></a>

  <!-- Search -->
  <div class="row contents">
    <h3 class="header">GAMES</h3>
    <!-- <form class="col s7 right">
      <div class="row">
        <div class="input-field col s7 right" class="search">
          <i class="fa fa-search prefix"></i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Search games:</label>
        </div>
      </div>
    </form> -->
  </div>

  <h4 class="header">Current Games</h4>
  <!-- Contents -->
  <div class="row">
    <div class="card-panel col offset-l1 s12 m11 l10 z-depth-3">
          <div class="col s12 m6" ng-repeat="(index, game) in current_games">
            <div class="card">
              <div class="card-image">
                <a class="edit_btn dropdown-button btn-flat right" data-beloworigin="true" data-activates="dropdownCurrent{{index}}" ><i class="fa fa-sort-down white-text fa-2x"></i></a>
                <img src="img/sample-1.jpg">
              </div>
              <div class="card-action center-align">
                <a class="btn white-text" data-target="modal1" href="javascript:void(0)" modal>
                   view more ...
                </a>
              </div>
            </div>
			<ul id='dropdownCurrent{{index}}' class='dropdown-content'>
			  <li><a href="javascript:void(0)" data-target="modal4" ng-click="setup_edit_modal('current', index)">edit</a></li>
			  <li class="divider"></li>
			  <li><a href="javascript:void(0)" ng-click="delete_game('current',index)">remove</a></li>
			</ul>
          </div>
    </div>
  </div>

  <h4 class="header">Upcoming Games</h4>

  <!-- Contents -->
  <div class="row">
    <div class="card-panel col offset-l1 s12 m11 l10 z-depth-3">
		<div class="col s12 m3" ng-repeat="(index, game) in upcoming_games">
			<div class="card">
			  <div class="card-image">
			    <a class="edit_btn dropdown-button btn-flat right" data-activates="dropdownUpcoming{{index}}"><i class="fa fa-sort-down white-text"></i></a>
			    <img src="img/sample-1.jpg">
			  </div>
			</div>

			<ul id='dropdownUpcoming{{index}}' class='dropdown-content'>
				<li><a href="javascript:void(0)" data-target="modal4" ng-click="setup_edit_modal('upcoming', index)">edit</a></li>
				<li class="divider"></li>
				<li><a href="javascript:void(0)" ng-click="delete_game('upcoming',index)">remove</a></li>
			</ul>
		</div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content" id="modal_add">
      <div class="teal content-title">
        <h4 class="add white-text center-align">ADD GAME</h4>
      </div>
      <div class="form-content" style="height: 287px;">
        <div class="row">
          <form id="add_game_form" class="col s12">
            <div class="row">
              <div class="input-field col s10">
                <input class="field-inputs" type="text" class="validate">
                <label class="labels cyan-text text-darken-4" for="user_name">Name:</label>
              </div>

              <div class="input-field col s10">
                <input name="someDate" type="date" class="datepicker">
                <label class="labels cyan-text text-darken-4" for="someDate">Start date:</label>
              </div>

              <div class="input-field col s10">
                <input name="someDate" type="date" class="datepicker">
                <label class="labels cyan-text text-darken-4" for="someDate">End date:</label>
              </div>

              <div class="input-field col s10">
                <input class="field-inputs" type="text" class="validate">
                <label class="labels cyan-text text-darken-4" for="user_name">Court Name:</label>
              </div>

              <div class="input-field col s10">
                <input class="field-inputs" type="text" class="validate">
                <label class="labels cyan-text text-darken-4" for="user_name">Court Location:</label>
              </div>

              <div class="input-field col s10">
                <input class="field-inputs" type="text" class="validate">
                <label class="labels cyan-text text-darken-4" for="user_name">Court Type:</label>
              </div>

              <div class="input-field col s10">
                <input class="field-inputs" type="text" class="validate">
                <label class="labels cyan-text text-darken-4" for="user_name">Status:</label>
              </div>

              <div class="input-field col s10">
                <input name="someDate" type="date" class="datepicker">
                <label class="labels cyan-text text-darken-4" for="someDate">Match date time:</label>
              </div>

              <table id="tbl">
                <tr>
                  <th><label class="labels cyan-text text-darken-4" for="someDate">Team Name</label></th>
                  <th><label class="labels cyan-text text-darken-4" for="someDate">Team Color</label></th>
                </tr>
                <tr>
                  <td><input class="input-field col s12" type="text" name="links" /></td>
                  <td><input class="input-field col s12" type="text" name="keywords" /></td>
                </tr>
              </table>
              <div class="team-button">
                <a href="javascript:void(0)" id="label-enter" class="teal modal-action modal-close waves-effect waves-green btn-flat white-text center" ng-click="">Add Another Team</a>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-button">
        <a href="javascript:void(0)" id="label-enter" class="teal modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="">Add Game</a>
      </div>
    </div>
  </div>

  <div id="modal4" class="modal modal-fixed-footer">
	<div class="modal-content" id="modal_add">
	  <div class="teal content-title">
		<h4 class="add white-text center-align">EDIT GAME</h4>
	  </div>
	  <div class="form-content" style="height: 287px;">
		<div class="row">
		  <form id="add_game_form" class="col s12">
			<div class="row">
			  <div class="inputfield col s10">
				<label class="labels cyan-text text-darken-4" for="name">Name:</label>
				<input class="field-inputs" type="text" ng-model="edit_game_info.game_name">
			  </div>
			  <div class="inputfield col s10">
				<label class="labels cyan-text text-darken-4" for="name">Start date:</label>
				<input class="datepicker" type="date" ng-model="edit_game_info.game_starting_time_date">
			  </div>
			  <div class="inputfield col s10">
				<label class="labels cyan-text text-darken-4" for="name">End date:</label>
				<input class="datepicker" type="date"  ng-model="edit_game_info.game_ending_time_date">
			  </div>
			</div>
		  </form>
		</div>
	  </div>
	</div>
	<div class="modal-footer">
	  <div class="modal-button">
		<a href="javascript:void(0)" id="label-enter" class="teal modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="edit_game()">Edit Game</a>
	  </div>
	</div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <img class="image" src="img/sample-1.jpg">
        <span>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
          into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
          release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
          software like Aldus PageMaker including versions of Lorem Ipsum.
        </span>
    </div>
    <div class="modal-footer">
      <div class="modal-button">
        <a href="javascript:void(0)" id="label-enter" class="teal accent-3 modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="view_sponsor()">view sponsors</a>
        <a href="javascript:void(0)" id="label-enter" class="teal accent-3 modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="view_sports()">view sports</a>

        <a href="javascript:void(0)" id="label-enter" class="teal accent-3 modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="view_registered_user()">view participants</a>
        <a href="javascript:void(0)" id="label-enter" class="teal accent-3 modal-action modal-close waves-effect waves-green btn-flat white-text" data-target="modal3" modal>register to this game</a>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h1 class="teams black-text">Choose a team</h1>
      <span>
        <a href="javascript:void(0)"><h6 class="team black-text">Team A</h6></a>
        <a href="javascript:void(0)"><h6 class="team black-text">Team B</h6></a>
        <a href="javascript:void(0)"><h6 class="team black-text">Team C</h6></a>
        <a href="javascript:void(0)"><h6 class="team black-text">Team D</h6></a>
      </span>
    </div>
    <div id="hey" class="modal-footer">
      <div class="modal-button">
        <a data-target="modal1" href="javascript:void(0)" id="label-enter" class="teal accent-3 modal-action modal-close waves-effect waves-green btn-flat white-text" modal>Cancel</a>
        <a href="javascript:void(0)" id="label-enter" class="teal accent-3 modal-action modal-close waves-effect waves-green btn-flat white-text">Join</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
	  $('.dropdown-button').dropdown({
	      inDuration: 300,
	      outDuration: 225,
	      constrainWidth: false, // Does not change width of dropdown to that of the activator
	      hover: true, // Activate on hover
	      gutter: 0, // Spacing from edge
	      belowOrigin: false, // Displays dropdown below the button
	      alignment: 'left', // Displays dropdown with edge aligned to the left of button
	      stopPropagation: false // Stops event propagation
	    }
	  );

    $("#vp-dropdown"),
    $('.modal').modal({
      dismissible: true,
      opacity: 0.5,
      in_duration: 300,
      out_duration: 200,
      starting_top: '4%',
      ending_top: '10%',
    });
  });

  $('.datepicker').pickadate({
	selectMonths: true,
	selectYears: 100,
	format: 'yyyy-mm-dd'
  });

  $('.add_another').click(function() {
      $("#tbl").append('<tr><td><input type="text" class="txtbox" value="" />  </td><td><input type="text" class="txtbox" value="" /></td></tr>');
   });
</script>
