<div ng-controller="game-event-controller" ng-init="get_upcoming_games(); get_current_games()">
  <!-- button for adding new game-->
  <a class="btn-floating btn-large waves-effect waves-light blue accent-4 add-button" href="javascript:void(0)" data-target="modal2" modal><i class="fa fa-plus"></i></a>

  <!-- Search -->
  <div class="search-container">
    <div id="wrap">
      <form action="" autocomplete="on">
        <input id="search" name="search" type="text" placeholder="Search Games">
        <input id="search_submit" type="submit">
      </form>
    </div>
  </div>
  <br/>

  <div class="row contents">
    <h3 class="header">GAMES</h3>
  </div>
 
  <h4 class="header">Current Games</h4>
  <!-- Contents -->
  <div class="row contents">
    <div class="col s12 m6" ng-repeat="(index, game) in current_games">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light spon-icon activator card-img">
          <img class="activator" style="width: 300px; margin: auto;" src="../img/run.png"/>
        </div>
        <div class="card-content">
          <a class="btn white-text center-align blue" data-target="modal1" ng-click = "view_setup(game.game_id, index, 'current'); check_if_registered()" href="javascript:void(0)">
             view more ...
          </a>
        </div>

        <div class="card-reveal">
          <div>
            <span class="card-title grey-text text-darken-4 rev">&nbsp;<i class="right fa fa-remove" aria-hidden="true"></i>
              <h3 class="center-align">{{game.game_name}}</h3>
              <div class="opt-btn">
                <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat" data-target="modal4" ng-click="setup_edit_modal('current', index)">edit</a>
                <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat" ng-click="delete_game('current',index)">remove</a>
              </div>
              
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="header">Upcoming Games</h4>

  <!-- Contents -->
  <div class="row">
    <div class="card-panel col offset-l1 s12 m11 l10 z-depth-3">
		<div class="col s12 m3" ng-repeat="(index, game) in upcoming_games">
			<div class="card">
			  <div class="card-image">
			    <a class="edit_btn dropdown-button btn-flat right" data-activates="dropdownUpcoming{{index}}"><i class="fa fa-sort-down white-text"></i></a>
			    <img src="img/sample-1.jpg">
			  </div>
        <div class="card-action center-align">
                <a class="btn white-text" data-target="modal1" ng-click = "view_setup(game.game_id, index, 'upcoming')" href="javascript:void(0)">
                   view more ...
                </a>
        </div>
			</div>

			<ul id='dropdownUpcoming{{index}}' class='dropdown-content'>
				<li><a href="javascript:void(0)" data-target="modal4" ng-click="setup_edit_modal('upcoming', index)">edit</a></li>
				<li class="divider"></li>
				<li><a href="javascript:void(0)" ng-click="delete_game('upcoming',index)">remove</a></li>
			</ul>
		</div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content" id="modal_add">
      <div class="teal content-title">
        <h4 class="add white-text center-align">ADD GAME</h4>
      </div>
      <div class="form-content" style="height: 287px;">
        <div class="row">
          <form id="add_game_form" class="col s12">
            <div class="row">
              <div class="input-field col s10">
                <input class="field-inputs" type="text" class="validate" ng-model="game_name">
                <label class="labels cyan-text text-darken-4" for="user_name">Name:</label>
              </div>

              <div class="input-field col s10">
                <input name="someDate" type="date" class="datepicker" id="datepicker1" ng-model="game_starting_time_date">
                <label class="labels cyan-text text-darken-4" for="someDate">Start date:</label>
              </div>

              <div class="input-field col s10">
                <input name="someDate" type="date" class="datepicker" id="datepicker2" ng-model="game_ending_time_date">
                <label class="labels cyan-text text-darken-4" for="someDate">End date:</label>
              </div>
              
              <table id="tbl">
                 <tr>
                  <th><label class="labels cyan-text text-darken-4" for="someDate" >Team Name</label></th>
                  <th><label class="labels cyan-text text-darken-4" for="someDate" >Team Color</label></th>
                 </tr>
                 <tr ng-repeat = "team in teams track by $index">
                  <td><input class="input-field col s12" type="text" name="links" ng-model = "team.team_name"/></td>
                  <td><input class="input-field col s12" type="text" name="keywords" ng-model = "team.team_color"/></td> 
                </tr>
              </table>
              <div class="team-button">
                <input type="submit" class="teal modal-action waves-effect waves-green btn-flat white-text center button add_another" id="another" value="Add another line" ng-click = "append_fills()"/>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-button">
        <a href="javascript:void(0)" id="label-enter" class="teal modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="add_game()">Add Game</a>
      </div>
    </div>
  </div>

  <div id="modal4" class="modal modal-fixed-footer">
	<div class="modal-content" id="modal_add">
	  <div class="teal content-title">
		<h4 class="add white-text center-align">EDIT GAME</h4>
	  </div>
	  <div class="form-content" style="height: 287px;">
		<div class="row">
		  <form id="add_game_form" class="col s12">
			<div class="row">
			  <div class="inputfield col s10">
				<label class="labels cyan-text text-darken-4" for="name">Name:</label>
				<input class="field-inputs" type="text" ng-model="edit_game_info.game_name">
			  </div>
			  <div class="inputfield col s10">
				<label class="labels cyan-text text-darken-4" for="name">Start date:</label>
				<input class="datepicker" type="date" ng-model="edit_game_info.game_starting_time_date">
			  </div>
			  <div class="inputfield col s10">
				<label class="labels cyan-text text-darken-4" for="name">End date:</label>
				<input class="datepicker" type="date"  ng-model="edit_game_info.game_ending_time_date">
			  </div>
			</div>
		  </form>
		</div>
	  </div>
	</div>
	<div class="modal-footer">
	  <div class="modal-button">
		<a href="javascript:void(0)" id="label-enter" class="teal modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="edit_game()">Edit Game</a>
	  </div>
	</div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content" id="select-opt">
        <h2 class="center-align">Select option</h2>
        <br/><a href="javascript:void(0)" class="center-align label-enter teal modal-action modal-close waves-effect waves-green btn-flat white-text teal" ng-click="view_sponsor()">view sponsors</a>
        <br/><a href="javascript:void(0)" class="center-align label-enter teal modal-action modal-close waves-effect waves-green btn-flat white-text teal" ng-click="view_sports()">view sports</a>
        <br/><a href="javascript:void(0)" class="center-align label-enter teal modal-action modal-close waves-effect waves-green btn-flat white-text teal" ng-click="view_registered_user()">view participants</a>
        <br/><a href="javascript:void(0)" class="center-align label-enter teal modal-action modal-close waves-effect waves-green btn-flat white-text teal" data-target="modal3" ng-click="get_teams()" ng-if="is_registered">register to this game</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h1 class="teams black-text">Choose a team</h1>
      <span ng-repeat="team in teams">
        <a href="javascript:void(0)" ng-click="select_team(team.team_id)"><h6 class="team black-text">{{team.team_name}}</h6></a>
      </span>
    </div>
    <div id="hey" class="modal-footer">
      <div class="modal-button">
        <a data-target="modal1" href="javascript:void(0)" id="label-enter" class="teal accent-3 modal-action modal-close waves-effect waves-green btn-flat white-text" modal>Cancel</a>
        <a href="javascript:void(0)" id="label-enter" class="teal accent-3 modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="join_account_to_team()">Join</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal({
      dismissible: true,
      opacity: 0.5,
      in_duration: 300,
      out_duration: 200,
      starting_top: '4%',
      ending_top: '10%',
    });

    $('.datepicker').pickadate({
    	selectMonths: true,
    	selectYears: 100,
    	format: 'yyyy-mm-dd'
    });

  
  });
</script>
