<div ng-controller="header-controller" ng-init="get_loggedIn()">
	<div class="navbar-fixed" ng-if="profile != undefined">
	  <nav>
		<div class="nav-wrapper">
		  <a href="javascript:void(0)" class="grey-text text-darken-4 center" id="logo" ng-click="changeView('#!/')">MalICSi</a>
		  <ul id="nav-mobile" class="right">
			<li><div class="grey-text text-darken-4" id="hello">{{ profile.username }}</div></li>
			<li><a href="javascript:void(0)" data-activates="dropdown1" class="teal dropdown-button" id="dr" dropdown><i class="fa fa-reorder fa-2x" aria-hidden="true"></i></a></li>
		  </ul>
		</div>
	  </nav>

	  <ul id='dropdown1' class='dropdown-content'>
		<li>
		  <div class="container blue center-align" id="upper">
			<i class="fa fa-user-circle fa-5x white-text"></i>
		  </div>
		</li>
		<li>
		  <a href="javascript:void(0)" class="view-dd" ng-click="changeView('#!/profile')">
			<p class="center-align valign">VIEW PROFILE</p>
		  </a>
		</li>
		<li>
		  <a href="javascript:void(0)" class="view-dd" ng-click="changeView('#!/user')">
			<p class="center-align valign">VIEW USER</p>
		  </a>
		</li>
		<li>
		  <a href="javascript:void(0)" class="view-dd" ng-click="changeView('#!/activity-log')">
			<p class="center-align valign">VIEW ACTIVITY LOGS</p>
		  </a>
		</li>
		<li class="divider">
		</li>
		<li>
		  <a href="javascript:void(0)" class="logout-btn" ng-click="logout()">
			<p class="center-align valign">x logout</p>
		  </a>
		</li>
	  </ul>
	</div>

	<div class="navbar-fixed" ng-if="profile == undefined">
	  <nav>
		<div class="nav-wrapper">
		  <a href="javascript:void(0)" class="grey-text text-darken-4 si" id="logo" ng-click="changeView('#!/')">MalICSi</a>
		  <ul id="nav-mobile" class="right">
			<li class="waves-effect waves-light"><a data-target='modal-register' modal>
			  <div class="grey-text text-darken-4 box">
				<span class="nam">not yet a member?</span><br>
				<span class="reg">register now!</span>
			  </div>
			</a></li>
			<li><a class="teal si" data-target='modal-login' modal><span class="white-text">Login</span></a></li>
		  </ul>
		</div>
	  </nav>
	</div>


	<div id="modal-register" class="modal modal-fixed-footer">
	  <div class="modal-content">
		<div class="content-title teal">
		  <h4 class="register white-text">REGISTER</h4>
		</div>
		<div class="form-content">
		  <div class="row">
			<form id="register-form" class="col s12">

			  <div id="register-name" class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="text" class="validate" ng-model="data.username">
				  <label class="labels cyan-text text-darken-4" for="name">Username:</label>
				</div>
			  </div>
			  <div id="register-name" class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="password" class="validate" ng-model="data.password">
				  <label class="labels cyan-text text-darken-4" for="name">Password:</label>
				</div>
			  </div>
			  <div id="register-name" class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="text" class="validate" ng-model="data.first_name">
				  <label class="labels cyan-text text-darken-4" for="name">First Name:</label>
				</div>
			  </div>
			  <div id="register-name" class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="text" class="validate" ng-model="data.middle_name">
				  <label class="labels cyan-text text-darken-4" for="name">Middle Name:</label>
				</div>
			  </div>
			  <div id="register-name" class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="text" class="validate" ng-model="data.last_name">
				  <label class="labels cyan-text text-darken-4" for="name">Last Name:</label>
				</div>
			  </div>
			  <div id="register-users" class="row">
				<div class="input-field col s10">
				  <select id="opt" ng-model='data.college' material-select watch>
					<option value="" disabled selected>Choose your option</option>
					<option value="CA">CA</option>
					<option value="CAS">CAS</option>
					<option value="CDC">CDC</option>
					<option value="CEAT">CEAT</option>
					<option value="CEM">CEM</option>
					<option value="CFNR">CFNR</option>
					<option value="CHE">CHE</option>
					<option value="CPAf">CPAf</option>
					<option value="CVM">CVM</option>
					<option value="SESAM">SESAM</option>
					<option value="GS">GS</option>
				  </select>
				  <label class="labels cyan-text text-darken-4">College</label>
				</div>
			  </div>
			  <div id="register-users" class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="text" class="validate" ng-model="data.course">
				  <label class="labels cyan-text text-darken-4" for="course">Course:</label>
				</div>
			  </div>
			  <div class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="text" class="validate" ng-model="data.email">
				  <label class="labels cyan-text text-darken-4" for="email">Email Address:</label>
				</div>
			  </div>
			  <div class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="text" class="validate" ng-model="data.position">
				  <label class="labels cyan-text text-darken-4" for="email">Position:</label>
				</div>
			  </div>
			  <div class="row">
				<div class="input-field col s10">
				  <input class="field-inputs" type="text" class="validate" ng-model="data.player_role">
				  <label class="labels cyan-text text-darken-4" for="email">Player Role:</label>
				</div>
			  </div>
			  <div class="row">
				<div class="input-field col s10">
				  <input name="someDate" type="date" class="datepicker" ng-model="data.birthday">
				  <label class="labels cyan-text text-darken-4" for="someDate">Birthdate:</label>
				</div>
			  </div>
			  <div class="row">
				<p id="isp">
				  <input type="checkbox" id="is_player"/>
				  <label for="is_player">Are you a player?</label>
				  <input type="checkbox" id="is_game_head"/>
				  <label for="is_game_head">Planning to head a game event?</label>
				</p>
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	  <div id="modalReg" class="modal-footer">
		<div id="modal-button">
		  <a href="#!" id="label-enter" class="teal modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="register()">Register</a>
		</div>
	  </div>
	</div>

	<div id="modal-login" class="modal modal-fixed-footer">
	   <div class="modal-content">
		 <div class="teal content-title row">
		   <h4 class="login white-text">LOGIN</h4>
		 </div>
		 <div class="form-content">
		   <div class="row">
			 <form id="login-form">
			   <div id="login-users" class="row">
				 <div class="input-field col s10">
				   <input class="field-inputs" type="text" class="validate" ng-model="info.username">
				   <label class="labels cyan-text text-darken-4" for="user_name">Username:</label>
				 </div>
			   </div>
			   <div class="row">
				 <div class="input-field col s10">
				   <input class="field-inputs" type="password" class="validate" ng-model="info.password">
				   <label class="labels cyan-text text-darken-4" for="password">Password:</label>
				 </div>
			   </div>
			 </form>
		   </div>
		 </div>
	   </div>
	   <div id="login-btns" class="modal-footer">
		   <div id="modal-button">
			 <a href="javascript:void(0)" id="label-enter" class="teal modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="login()">Enter</a>
		   </div>
		 </div>
	  </div>
</div>

<script type="text/javascript">
	$(function () {
		$('select').material_select();
		$('.dropdown-button').dropdown('open');
		$('.dropdown-button').dropdown('close');
	});
</script>