<div ng-controller="header-controller" ng-init="get_loggedIn()">
	<div class="ui grid">
		<div ng-if="profile == undefined">
			<div class="computer tablet only row">
				<div class="ui top fixed menu navbar">
				  <div class="item">
				    <a href="javascript:void(0)" class="malicsi-text ui" id="logo-text" ng-click="changeView('#!/')">MALICSI</a>
				  </div>
				  <div class="logo-container">
				  	<img src="../img/logo-white.png" />
				  </div>

					  <a class="item right nav-btn register" id="reg">Register</a>
					  <a class="item nav-btn login" id="log">Login</a>

				  <div class="ui item dropdown right" id="lr-dd">
	          <i class="fa fa-reorder fa-2x"></i>
	        	<div class="menu">
	            <a class="item nav-btn register" id="reg-mob">Register</a>
				  		<a class="item nav-btn login" id="log-mob">Login</a>
	          </div>
	        </div>

				</div>
			</div>
		</div>

		<div ng-if="profile != undefined">
			<div class="computer tablet only row">
				<div class="ui top fixed menu navbar">
				  <div class="item">
				    <a href="javascript:void(0)" class="malicsi-text ui" id="logo-text" ng-click="changeView('#!/game-event')">MALICSI</a>
				  </div>
				  <div class="logo-container">
				  	<img src="../img/logo-white.png" />
				  </div>
				  <div class="ui item dropdown right log-dd">
				 		<span id="username">Hi, {{profile.username}}</span>
	          <i class="fa fa-reorder fa-2x"></i>
	        	<div class="menu">
	            <a class="item nav-btn" id="vp-mob" ng-click="changeView('#!/profile')">View Profile</a>
				  		<a class="item nav-btn" id="vu-mob" ng-click="changeView('#!/user')">View User</a>
				  		<a class="item nav-btn" id="va-mob" ng-click="changeView('#!/activity-log')">View Activity Log</a>
				  		<a class="item nav-btn red" id="logo-mob" ng-click="logout()">Logout</a>
	          </div>
	        </div>
				</div>
			</div>
		</div>

		<div class="ui modal" id="register-modal">
		  <i class="close icon"></i>
		  <div class="header reg-modal-header">
		    Register
		  </div>
		  <div class="content">
		    <form class="ui big form">
				  <div class="three fields">
				    <div class="field">
				      <label>First name</label>
				      <input placeholder="First Name" type="text" ng-model="data.firstname">
				    </div>
				    <div class="field">
				      <label>Middle name</label>
				      <input placeholder="Middle Name" type="text" ng-model="data.middlename">
				    </div>
				    <div class="field">
				      <label>Last name</label>
				      <input placeholder="Last Name" type="text" ng-model="data.lastname">
				    </div>
				  </div>

				  <div class="field">
				  	<label>Email Address</label>
				    <input placeholder="Email Address" type="text" ng-model="data.email">
				  </div>

				  <div class="two fields">
				  	<div class="field">
					  	<label>Username</label>
					    <input placeholder="Username" type="text" ng-model="data.username">
					  </div>
					  <div class="field">
					  	<label>Password</label>
					    <input placeholder="Password" type="password" ng-model="data.password">
					  </div>
				  </div>

				  <div class="three fields">
				  	<div class="ui calendar field" id="birthday">
				  		<label>Birthday</label>
						  <div class="ui input left icon">
						    <i class="calendar icon"></i>
						    <input type="text" placeholder="Date">
						  </div>
						</div>

					  <div class="field">
					  	<label>Course</label>
					    <input placeholder="Course" type="text" ng-model="data.course">
					  </div>

					  <div class="field">
					  	<label>College</label>
					    <select class="ui dropdown" id="college">
					    	<option value="">College</option>
					    	<option value="CA">CA</option>
								<option value="CAS">CAS</option>
								<option value="CDC">CDC</option>
								<option value="CEAT">CEAT</option>
								<option value="CEM">CEM</option>
								<option value="CFNR">CFNR</option>
								<option value="CHE">CHE</option>
								<option value="CPAf">CPAf</option>
								<option value="CVM">CVM</option>
								<option value="SESAM">SESAM</option>
								<option value="GS">GS</option>
					    </select>
					  </div>
				  </div>
				  
				  <div class="two fields">
				  	<div class="field">
					  	<label>Position</label>
					    <input placeholder="Position" type="text" ng-model="data.position">
					  </div>

					  <div class="field">
					  	<label>Player Role</label>
					    <input placeholder="Player Role" type="text" ng-model="data.player_role">
					  </div>
				  </div>
				  <div class="two fields">
				  	<div class="inline field">
					    <div class="ui checkbox">
					      <input tabindex="0" id="is_player" class="hidden" type="checkbox" ng-model="data.is_player">
					      <label>Are you a player?</label>
					    </div>
					  </div>
					  <div class="inline field">
					    <div class="ui checkbox">
					      <input tabindex="0" id="is_game_head" class="hidden" type="checkbox" ng-model="data.is_game_head">
					      <label>Planning to head a game event?</label>
					    </div>
					  </div>
				  </div>
				</form>
		  </div>
		  <div class="actions">
		    <div class="ui button modal-close">Cancel</div>
		    <div class="ui button modal-close green" ng-click="register()">Submit</div>
		  </div>
		</div>

		<div class="ui small modal" id="login-modal">
		  <i class="close icon"></i>
		  <div class="header log-modal-header">
		    Login
		  </div>
		  <div class="content">
		    <form class="ui big form">
			    <div class="field">
			      <label>Username</label>
			      <input placeholder="Username" type="text" ng-model="info.username">
			    </div>
			    <div class="field">
			      <label>Password</label>
			      <input placeholder="Password" type="password" ng-model="info.password">
			    </div>
				</form>
		  </div>
		  <div class="actions">
		    <div class="ui button modal-close">Cancel</div>
		    <div class="ui button modal-close green" ng-click="login()">Submit</div>
		  </div>
		</div>

		<div class="ui message">
		  <i class="close icon"></i>
		  <div class="header">
		    Welcome back!
		  </div>
		  <p>This is a special notification which you can dismiss if you're bored with it.</p>
		</div>


	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.ui.dropdown').dropdown();
		$('.ui.modal').modal();
		$('.ui.checkbox').checkbox();
		
		$('.ui.modal-close').click(function() {
			$('.ui.modal').modal('close');
		});
		
		$('.register').click(function() {
			$('#register-modal').modal({
				onShow: function() {
					$('#birthday').calendar({
						type: 'date'
					});
				}
			}).modal('show');
			
		});

		$('.login').click(function() {
			$('#login-modal').modal('show');
		});

		
	});
	
</script>