<div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <!--<a href="#" data-activates="slide-out" class="brand-logo left grey-text text-darken-4" id="butones"><i class="material-icons center-align">menu</i></a>-->
        <a href="#" class="grey-text text-darken-4 center" id="logo">MalICSi</a>
        <ul id="nav-mobile" class="right">
          <li><div class="grey-text text-darken-4" id="hello">Welcome, Juan Dela Cruz</div></li>
          <li><a dropdown data-activates="dropdown1" class="cyan darken-2" id="dr"><i class="material-icons center-align">perm_identity</i></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <ul id='dropdown1' class='dropdown-content'>
      <li><div class="container cyan darken-2 center-align" id="upper">
          <!-- <i class="material-icons center-align" id="pic">perm_identity</i></div> -->
          <img class="circle profpic" src="img/placeholder.png">
      </li>
      <li><div class="container" id="lower">
        <h5 class="center-align valign">Juan Dela Cruz</h5>
        <p class="center-align valign">2014-01234</p>
        <a href="#"><p class="center-align valign black-text">VIEW PROFILE</h6></p>
      </div></li>
      <li><a href="#"><p class="right-align valign red-text">X logout</p></a></li>
    </ul>

  <div class="row contents">
    <div class="col s0 m0 l1">&nbsp</div>
    <div class="col s12 m0">
      <h4 class="news-announcement"><u>News and Announcements</u></h4>
      <div class="col s12 m4">
        <div class="card large z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          
          <div class="card-action">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      
      <div class="col s12 m4">
        <div class="card large z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          
          <div class="card-action">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card large z-depth-3">
          <div class="card-image">
          <img src="img/sample-2.jpg">
          <span class="card-title">Card Title</span>
          
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
                <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card large z-depth-3">
          <div class="card-image">
          <img src="img/sample-4.jpg">
          <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
                <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card large z-depth-3">
          <div class="card-image">
          <img src="img/sample-4.jpg">
          <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
                <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card large z-depth-3">
          <div class="card-image">
          <img src="img/sample-4.jpg">
          <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
                <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer cyan darken-2">
    <div class="container">
      <div class="row">
        <div class="col 16 s12">
          <p class="grey-text text-lighten-4">
            MalICSihan is a sports management application catered for UPLB individuals which aims to showcase reliable person-game information and interaction. MalICSihan is developed by 21 undergraduate students from the Institue of Computer Science to achieve an academic requirement in their CMSC 128: An Introduction to Software Engineering class.
          </p>
        </div>
        
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container center">
        Copyright 2017 CMSC 128 | A-5L
      </div>
    </div>
  </footer>
</div>

<script>
$(document).ready(function(){
     $("#dr").dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'right', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    });
});
</script>
