<div ng-controller='login-register-controller' ng-init="get_currGames()">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

  <div class="slider">
      <ul class="slides" style="height: 500px">
          <li>
              <img src="../img/o1.jpg"> <!-- random image -->
              <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
          </li>
          <li>
              <img src="../img/o2.jpg"> <!-- random image -->
              <div class="caption left-align">
                  <h3>Left Aligned Caption</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
          </li>
          <li>
              <img src="../img/o3.jpg"> <!-- random image -->
              <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
          </li>
          <li>
              <img src="../img/o4.jpg"> <!-- random image -->
              <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
          </li>
          <li>
              <img src="../img/o5.jpg"> <!-- random image -->
              <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
          </li>
      </ul>
  </div>


  <div class="row contents">
    <div class="col s0 m0 l1">&nbsp;</div>
    <div class="col s12 m0">
      <h4 class="news-announcement"><u>News and Announcements</u></h4>
      <div class="col s12 m12 l4" ng-repeat="(index, game) in current_games">
        <div class="card large z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">{{game.game_name}}</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>

          <div class="card-action">
            <a href="javascript:void(0)">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>



    <!-- Modal Structure -->

</div>

<script>
$(document).ready(function(){
  $('.slider').slider();
  $('select').material_select();
  $('.modal').modal({
    size: 'small',
    dismissible: true,
    opacity: 0.5,
    in_duration: 300,
    out_duration: 200,
    starting_top: '4%',
    ending_top: '10%',
  });
  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 100,
    format: 'yyyy-mm-dd'
  });

  $("#modal-login").width($(".modal").width());
  $("#modal-login").height($(".modal").height());
  $("#modal-register").width($(".modal").width());
  $("#modal-register").height($(".modal").height());
});
</script>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.js"></script>
