<div ng-controller="match-controller">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="javascript:void(0)" class="grey-text text-darken-4 center" id="logo" ng-click="back_to_home()">MalICSi</a>
        <ul id="nav-mobile" class="right">
          <li><div class="grey-text text-darken-4" id="hello">Welcome, Juan Dela Cruz</div></li>
          <li><a href="javascript:void(0)" data-activates="dropdown1" class="teal dropdown-button" id="dr" dropdown><i class="material-icons center-align">perm_identity</i></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <a class="modal-trigger btn-floating btn-large waves-effect waves-light teal accent-4 add-button" data-target="add-match-modal"><i class="material-icons">add</i></a>

  <ul id='dropdown1' class='dropdown-content'>
    <li><div class="container teal center-align" id="upper">
        <img class="circle profpic" src="img/placeholder.png">
        </div>
    </li>
    <li><div class="container" id="lower">
      <h5 class="center-align valign">Juan Dela Cruz</h5>
      <p class="center-align valign">2014-01234</p>
    </div></li>
    <li><a href="javascript:void(0)" class="view-dd"><p class="center-align valign" ng-click="view_profile()">VIEW PROFILE</p></a></li>
    <li><a href="javascript:void(0)" class="view-dd"><p class="center-align valign" ng-click="view_user()">VIEW USER</p></a></li>
    <li><a href="javascript:void(0)"><p class="right-align valign red-text" ng-click="logout()">X logout</p></a></li>
  </ul>

  <!-- Contents -->
  <div class="row contents" id="match-content">
    <div class="col s0 m0 l1">&nbsp;</div>
    <!-- Score Table -->
    <div class="col s12 m0">
      <div class="col s6 m6">
        <div class="card-panel">
          <table class="highlight">
            <thead>
              <tr>
                <th><h5>TEAM</h5></th>
                <th><h5>SCORE</h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Team A</td>
                <td>Score A</td>
              </tr>
              <tr>
                <td>Team B</td>
                <td>Score B</td>
              </tr>
              <tr>
                <td>Team C</td>
                <td>Score C</td>
              </tr>
              <tr>
                <td>Team D</td>
                <td>Score D</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col s6 m6">
        <!-- Winner -->
        <div class="card-panel">
          <div>
            <h4 class="card-title center">WINNER</h4>
          </div>
          <div class="card-content">
            <h5 id="match-winner">Winning Team</h5>
          </div>
        </div>

        <!-- Court -->
        <div class="card-panel">
          <div>
            <h4 class="card-title center">COURT</h4>
          </div>
          <div class="card-content">
            <h5 id="match-winner">Court in Match</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="add-match-modal" class="modal modal-fixed-footer">
  <div class="modal-content" id="modal_add">
    <div class="teal content-title">
      <h4 class="add white-text center-align">ADD MATCH</h4>
    </div>
    <div class="form-content" style="height: 287px;">
      <div class="row">
        <form class="col s12" id="add_match_form">
          <div class="row">
            <div class="input-field col s6">
              <input id="match_date" type="date" class="datepicker">
              <label class="labels cyan-text text-darken-4" for="matchdate">Date</label>
            </div>
            <div class="input-field col s6">
              <input id="match_time" type="time" class="validate">
              <label for="time"></label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="match_court" type="text" class="validate">
              <label for="match_court">Court</label>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div id="modal-button">
      <a href="javascript:void(0)" id="label-enter" class="teal modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="add_match()">Add Match</a>
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
     $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
    $('.modal').modal({
      dismissible: true,
      opacity: 0.5,
      in_duration: 300,
      out_duration: 200,
      starting_top: '4%',
      ending_top: '10%',
    });
  });
</script>