
<div ng-controller="participant-controller">
    <br></br>

    <h3 class="header"> List of User Registered in &lt;Sport&gt;</h3>
    <form>
      <div class= "container">
        <select class="browser-default">
          <option value="javascript:void(0)" disabled selected>SELECT SPORT</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>


      <div class="input-field container">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="fa fa-search"></i></label>
      </div>
    </form>

    <div class="participant-list">
      <div class="collection">
        <a href="javascript:void(0)" class="collection-item avatar" ng-click="view_profile()">
          <i class="fa fa-user fa-2x circle blue"></i>
          <span class="title">Title</span>
          <p>First Line <br>
             Second Line
          </p>
        </a>
        <a href="javascript:void(0)" class="collection-item avatar" ng-click="view_profile()">
          <i class="fa fa-user fa-2x circle blue"></i>
          <span class="title">Title</span>
          <p>First Line <br>
             Second Line
          </p>
        </a>
        <a href="javascript:void(0)" class="collection-item avatar" ng-click="view_profile()">
          <i class="fa fa-user fa-2x circle blue"></i>
          <span class="title">Title</span>
          <p>First Line <br>
             Second Line
          </p>
        </a>
        <a href="javascript:void(0)" class="collection-item avatar" ng-click="view_profile()">
          <i class="fa fa-user fa-2x circle blue"></i>
          <span class="title">Title</span>
          <p>First Line <br>
             Second Line
          </p>
        </a>

        <a href="javascript:void(0)" class="collection-item avatar" ng-click="view_profile()">
          <i class="fa fa-user fa-2x circle blue"></i>
          <span class="title">Title</span>
          <p>First Line <br>
             Second Line
          </p>
        </a>
      </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){z
     $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
    $('.modal').modal({
      dismissible: true,
      opacity: 0.5,
      in_duration: 300,
      out_duration: 200,
      starting_top: '4%',
      ending_top: '10%',
    });

  });
</script>
