<div ng-controller="participant-controller" ng-init="get_sports(); load_participants()">
  <div class="row contents">
    <h3 class="content-header"> Participants in {{sport}}</h3>

    <div class="ui fluid category search">
      <div class="ui icon input">
        <input class="prompt" placeholder="Search Participant" type="text" ng-model="partic">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
    
    <div class="ui raised very fluid padded container segment" id="ru-table">
      <form>
        <div class= "container">
          <select class="ui dropdown" ng-model="selected" ng-change="load_participants()" ng-options="sport.sport_type + ' - ' + sport.division for sport in sports">
            <option value="">Select Sport...</option>
          </select>
        </div>
      </form>

      <table class="ui very basic selectable collapsing celled table" id="ru-table">
        <thead>
          <tr>
            <h1>List of Participants</h1>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="participant in participants | filter: {fullname: partic}">
            <td href="javascript:void(0)">
              <h4 class="trow ui header">
                <i class=" fa fa-user fa-2x ui mini rounded"></i>
                <div class="content">
                  {{participant.fullname}}
                </div>
              </h4>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal({
      dismissible: true,
      opacity: 0.5,
      in_duration: 300,
      out_duration: 200,
      starting_top: '4%',
      ending_top: '10%',
    });

  });
</script>
