<div ng-controller="sponsor-controller" class="main-container" ng-init="init_sponsor()">
  <div class="content">
   <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="javascript:void(0)" class="grey-text text-darken-4 center" id="logo" ng-click="back_to_home()">MalICSi</a>
          <ul id="nav-mobile" class="right">
            <li><div class="grey-text text-darken-4" id="hello">Welcome, Juan Dela Cruz</div></li>
            <li><a href="javascript:void(0)" data-activates="dropdown1" class="teal dropdown-button" id="dr" dropdown><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </nav>
    </div>

    <ul id='dropdown1' class='dropdown-content'>
      <li><div class="container teal center-align" id="upper">
          <img class="circle profpic" src="img/placeholder.png">
          </div>
      </li>
      <li><div class="container" id="lower">
        <h5 class="center-align valign">Juan Dela Cruz</h5>
        <p class="center-align valign">2014-01234</p>
      </div></li>
      <li><a href="javascript:void(0)" class="view-dd"><p class="center-align valign" ng-click="view_profile()">VIEW PROFILE</p></a></li>
      <li><a href="javascript:void(0)" class="view-dd"><p class="center-align valign" ng-click="view_user()">VIEW USER</p></a></li>
      <li><a href="javascript:void(0)"><p class="right-align valign red-text" ng-click="logout()">X logout</p></a></li>
    </ul>

    <a class="btn-floating btn-large waves-effect waves-light teal accent-4 add-button" href="javascript:void(0)" data-target="modal7" modal><i class="material-icons">add</i></a>

    <br>

    <div class="container">
      <h5 class="center-align" id="spon">SPONSORING INSTITUTES</h5>
      <br>
      <hr class="style18">
      <br>
    </div>


  <div class="container">
    <div class="row">
    
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/san-miguel-logo.png" />
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><h6>San Miguel Corporation</h6></span>
            <p><a href="http://www.sanmiguel.com.ph">Visit Website</a></p>
          </div>
          
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">San Miguel Corporation<i class="material-icons right">close</i></span>
            <p>San Miguel Corporation is one of the Philippines’ largest and most diversified conglomerates, generating about 5.1% (as of 2015) of the country’s gross domestic product through its highly integrated operations in beverages, food, packaging, fuel and oil, power and infrastructure.</p>
            <div class="right">
              <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
              <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
            </div>
        </div>
      </div>

    </div>

    <!-- <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/nasa.png" />
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><h6>NASA</h6></span>
          <p><a href="http://www.nasa.gov">Visit Website</a></p>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">NASA<i class="material-icons right">close</i></span>
          <p>Led by acting administrator, Robert Lightfoot, NASA reaches new heights and unveils the unknown for the benefit of humankind. To achieve such feat, thousands of people toil around and outside the world to answer a very simple yet significant question- <i>What is out there in space?</i></p>
          <div class="right">
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
          </div>

        </div>
      </div>

    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/adidas2.png" />
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><h6>Adidas</h6></span>
          <p><a href="javascript:void(0)">Visit Website</a></p>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Adidas<i class="material-icons right">close</i></span>
          <p>The brands of the adidas Group complement each other in a unique way to help athletes perform better, play better, feel better. Our products break records, set trends, make history. Every day. Here, our love for sport drives who we are and what we do. Every day.</p>
          <div class="right">
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
          </div>

        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/Underarmour.png" />
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><h6>Under Armour</h6></span>
          <p><a href="http://www.underarmour.com.ph">Visit Website</a></p>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Under Armour<i class="material-icons right">close</i></span>
          <p>Founded in 1996 by former University of Maryland football player Kevin Plank, Under Armour is the originator of performance apparel - gear engineered to keep athletes cool, dry and light throughout the course of a game, practice or workout</p>

          <div class="right">
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/codeninjas.png" />
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><h6>Code Ninjas</h6></span>
          <p><a href="http://www.code-ninja.co">Visit Website</a></p>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Code Ninjas<i class="material-icons right">close</i></span>
          <p>Code Ninja provides accelerated learning programs, which help inspired coders become awesome! Code Ninjas offers a variety of programs to help individuals at every skill level excel in a career of software development.</p>

          <div class="right">
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
          </div>

        </div>
      </div>

    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/mozilla.png" />
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><h6>Mozilla</h6></span>
          <p><a href="http://www.mozilla.org">Visit Website</a></p>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Mozilla<i class="material-icons right">close</i></span>
          <p>The Mozilla Corporation was established in August 2005 as a wholly owned taxable subsidiary that serves the non-profit, public benefit goals of its parent, the Mozilla Foundation, and the vast Mozilla community.</p>

          <div class="right">
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
            <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
          </div>


        </div>
      </div>
    </div> -->
    </div>
  </div>

      <br>
      <hr class="style18">
      <br>
    	<br>
    	<br>

    	<div id="modal7" class="modal modal-fixed-footer">
        <div class="modal-content">
        <div class="teal content-title">
          <h1 class="add white-text center-align">ADD SPONSOR</h1>
        </div>
          <div class="container add-sponsor">
              <div class="row">
                <div class="input-field col s12 m12">
                  <input id="sponsor_name" type="text" class="validate" ng-model="sponsor.sponsor_name"/>
                  <label for="sponsor_name">Sponsor Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input id="sponsor_address" type="text" class="validate" ng-model="sponsor.sponsor_logo"/>
                  <label for="sponsor_address">Sponsor Logo</label>
                </div>

                 <div class="input-field col s12 m6">
                  <input id="sponsor_website" type="text" class="validate" ng-model="sponsor.sponsor_type"/>
                  <label for="sponsor_website">Sponsor Type</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12">
                  <textarea id="sponsor_description" class="materialize-textarea" ng-model="sponsor.sponsor_desc"></textarea>
                  <label for="sponsor_description">Sponsor Description</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12">
                  <input id="sponsor_description" type="text" class="validate" ng-model="sponsor.web_address"></input>
                  <label for="sponsor_description">Sponsor Website</label>
                </div>
              </div>
           </div>
					</div> 
          <div class="modal-footer">
            <a href="javascript:void(0)" class="center modal-close waves-effect waves-green btn" ng-click="add_sponsor()">Submit</a>
          </div>
    		</div>

      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        </div>
      </div>
  

  <footer class="page-footer teal">
    <p class="footer-content grey-text text-lighten-4">
      MalICSi is a sports management application catered for UPLB individuals which aims to showcase reliable person-game information and interaction. MalICSihan is developed by 21 undergraduate students from the Institue of Computer Science to achieve an academic requirement in their CMSC 128: An Introduction to Software Engineering class.
    </p>
    <div class="copyright">Copyright 2017 CMSC 128 | A-5L</div>
  </footer>
  
 <script type="text/javascript">
  $(document).ready(function(){
     $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
    $('.modal').modal({
      dismissible: true,
      opacity: 0.5,
      in_duration: 300,
      out_duration: 200,
      starting_top: '4%',
      ending_top: '10%',
    });
  });
</script>
