<div ng-controller="sponsor-controller" ng-init="init_sponsor()">
    <a class="btn-floating btn-large waves-effect waves-light blue accent-4 add-button" href="javascript:void(0)" data-target="modal7" modal><i class="fa fa-plus"></i></a>
    <br>

    <div class="container">
      <h3 class="header">SPONSORING INSTITUTES</h3>
      <br>
      <hr class="style18">
      <br>
    </div>

  

  <div class="container">
    <div class="row">
      <div class="col s12 m6" ng-repeat="spon in sponsors">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light spon-icon activator teal">
            <i class="fa fa-users fa-5x white-text" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><h5>{{spon.sponsor_name}}</h5></span>
            <p><a href="javascript:void(0)" data-target="viewWebModal">Visit Website</a></p>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{spon.sponsor_name}}<i class="right fa fa-remove" aria-hidden="true"></i></span>
            <p>{{spon.sponsor_desc}}</p>
            <div class="right">
              <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat" data-target="modal8" modal ng-click="init_edit_modal(spon.sponsor_id)">Edit</a>
              <a href="javascript:void(0)" class="teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat" ng-click="delete_sponsor(spon.sponsor_id)">Delete</a>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>

  <div id="viewWebModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="teal content-title">
        <h1 class="add white-text center-align" ng-repeat="spon in sponsors">{{spon.sponsor_name}}</h1>

        <div class="container">
          <div class="center">
            <p class="cyan-text text-darken-4">
              Sample text here: {{spon.sponsor_desc}}
            </p>
          </div>

        </div>
        

      </div>




    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="center-align teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
    </div>
  </div>

      <br>
      <hr class="style18">
      <br>
    	<br>
    	<br>

    	<div id="modal7" class="modal modal-fixed-footer">
        <div class="modal-content">
        <div class="teal content-title">
          <h1 class="add white-text center-align">ADD SPONSOR</h1>
        </div>
          <div class="container add-sponsor">
              <div class="row">
                <div class="input-field col s12 m12">
                  <input class="sponsor_name" type="text" class="validate" ng-model="sponsor.sponsor_name"/>
                  <label class="labels cyan-text text-darken-4" for="sponsor_name">Sponsor Name</label>
                </div>
              </div>
              <div class="row">
                 <!-- <div class="input-field col s12 m12">
                  <input class="sponsor_website" type="text" class="validate" ng-model="sponsor.sponsor_type"/>
                  <label for="sponsor_website">Sponsor Type</label>
                </div> -->
                <div class="input-field col s12">
                  <select id="sponsor_type">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="minor">minor</option>
                    <option value="major">major</option>
                    <option value="major">official partner</option>
                  </select>
                  <label class="labels cyan-text text-darken-4">Sponsor</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12">
                  <textarea class="sponsor_description" class="materialize-textarea" ng-model="sponsor.sponsor_desc"></textarea>
                  <label class="labels cyan-text text-darken-4" for="sponsor_description">Sponsor Description</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12">
                  <input class="sponsor_website" type="text" class="validate" ng-model="sponsor.web_address"></input>
                  <label class="labels cyan-text text-darken-4" for="sponsor_website">Sponsor Website</label>
                </div>
              </div>
           </div>
					</div>
          <div class="modal-footer">
            <a href="javascript:void(0)" class="center modal-close waves-effect waves-green btn" ng-click="add_sponsor()">Submit</a>
          </div>
    		</div>

      <div id="modal8" class="modal modal-fixed-footer">
        <div class="modal-content">
        <div class="teal content-title">
          <h1 class="add white-text center-align">EDIT SPONSOR</h1>
        </div>
          <div class="container add-sponsor">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Event title" class="sponsor_name" type="text" class="validate" ng-model="sponsor.sponsor_name"/>
                  <label class="labels cyan-text text-darken-4" for="sponsor_name">Sponsor Name</label>
                </div>
              </div>
              <div class="row">
                 <div class="input-field col s12">
                  <select id="sponsor_type">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="minor">minor</option>
                    <option value="major">major</option>
                    <option value="major">official partner</option>
                  </select>
                  <label class="labels cyan-text text-darken-4">Sponsor</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea placeholder="Event title" class="sponsor_description" class="materialize-textarea" ng-model="sponsor.sponsor_desc"></textarea>
                  <label class="labels cyan-text text-darken-4" for="sponsor_description">Sponsor Description</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Event title" class="sponsor_website" type="text" class="validate" ng-model="sponsor.web_address"></input>
                  <label class="labels cyan-text text-darken-4" for="sponsor_website">Sponsor Website</label>
                </div>
              </div>
           </div>
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0)" class="center modal-close waves-effect waves-green btn" ng-click="update_sponsor()">Submit</a>
          </div>
        </div>
      </div>
 <script type="text/javascript">
  $(document).ready(function(){
    $('select').material_select();
     $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
    $('.modal').modal({
      dismissible: true,
      opacity: 0.5,
      in_duration: 300,
      out_duration: 200,
      starting_top: '4%',
      ending_top: '10%',
    });
  });
</script>
