<div ng-controller="sport-controller">
  <div class="row contents" id="sport-content" ng-init = "get_matches();get_courts();">
    <h3 class="content-header">Sport</h3>

      <!-- List of Participants -->
    <div class="ui two column doubling stackable grid container">
      <div class="four wide column">
        <div class="ui raised very fluid padded container segment">
          <table class="ui very basic selectable collapsing celled table" id="team-table">
            <thead>
              <tr>
                <th>
                  <h1>Teams</h1>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="team in teams">
                <td>
                  <a href="javascript:void(0)" ng-click="view_team(team.team_id)">
                  <h4 class="trow ui header">
                    <i class=" fa fa-group fa-2x ui mini rounded"></i>
                    <div class="content">
                      {{team.team_name}}
                        <div class="sub header">{{team.team_color}}</div>
                    </div>
                  </h4>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui raised very fluid padded container segment">
          <h1>Schedule</h1>
          <a href="javascript:void(0)" id="add-match" class="ui blue button">Add Match</a>
          <a href="javascript:void(0)" ng-click="view_tournament_bracketing(sportid)" class="ui blue button">View Tournament Bracketing</a>
          <table class="ui single line collapsing table" id="sched-table">
            <tbody>
              <tr ng-repeat="match in matches">
                <td>
                  <h4 class="trow ui header">
                    <div class="content sched">
                      <div>Teams:&nbsp;</div>
                      <span ng-repeat = "team in match.teams">{{team}} &nbsp;&nbsp;</span>
                      <div><i class="fa fa-clock-o"></i>&nbsp;:&nbsp;{{match.date_time | date: "medium"}}</div>
                      <div><i class="fa fa-map"></i>&nbsp;:&nbsp;{{match.court_name}}</div>
                    </div>
                  </h4>
                </td>
                <td>
                  <div class="view-match-container">
                    <a href="javascript:void(0)" class="ui button" ng-click="view_match(match.match_id)">View Match</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="ui modal" id="add-match-modal">
      <i class="close icon"></i>
      <div class="header">Add Match</div>
      <div class="content">
        <form class="ui big form">
          <div class="ui calendar field" id="match-date">
            <label>Match Date</label>
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date" id = "add-start-match">
            </div>
          </div>
          <div class="field">
            <label>Teams Joining</label>
            <select id ="teamJoin" name="teams" multiple="" class="ui fluid dropdown">
              <option disabled selected></option>
              <option ng-repeat = "team in teams" value="{{team.team_id}}">Team {{team.team_name}}</option>
            </select>
          </div>
          <div class="field">
            <label>Court</label>
            <select id = "courtJoin" class="ui dropdown">
              <option disabled selected></option>
              <option value="Copeland">Copeland</option>
              <option value="Baker Hall">Baker Hall</option>
              <option value="Freedom Park">Freedom Park</option>
              <option value="Physci Building">Physci Building</option>
            </select>
          </div>
          <div class="field">
            <label>Series</label>
            <select id = "series" class="ui dropdown">
              <option disabled selected></option>
              <option value="elimination">Eliminations</option>
              <option value="semi-finals">Semi-Finals</option>
              <option value="finals">Finals</option>
            </select>
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="ui button modal-close">Cancel</div>
        <div class="ui button modal-close" ng-click="add_match()">Submit</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#add-match").click(function() {
    $("#add-match-modal").modal("show");
  });
  
  $('.ui.dropdown').dropdown();

  $('#match-date').calendar({
    type: 'datetime'  
  });
});
</script>
