<div ng-controller="sports-controller" ng-init="ownership_init(); get_sports()">


  <a class="add-btn" id="add-sport" ng-show="profile.is_admin == 1 || is_owner" href="javascript:void(0)"><i class="fa fa-plus fa-3x"></i></a>
  <div class="row contents">
    <h3 class="content-header">SPORTS</h3>
    <div class="ui two top attached buttons" id="butt-container">
      <button class="ui left labeled icon blue button" id="vsp-button" ng-click="change_view('#!/participant/')">
        <i class="left arrow icon"></i>
        View Participant
      </button>
      <button class="ui right labeled icon green button" id="vsp-button" ng-click="change_view('#!/sponsor/')">
        <i class="right arrow icon"></i>
        View Sponsor
      </button>
    </div>
    <div class="ui four stackable special cards" id="sports">
        <div class="card" ng-repeat="sport in sports track by $index" >
          <div class="blurring dimmable image">
            <div class="ui dimmer" ng-if="is_owner || profile.is_admin">
              <div class="content">
                <div class="center">
                  <a href="javascript:void(0)" class="ui inverted button edit-sport" ng-click = "setup_edit_modal($index)">Edit</a>
                  <a href="javascript:void(0)" class="ui inverted red button" ng-click = "delete_sport($index)">Remove</a>
                </div>
              </div>
            </div>
            <img src="../img/sport.jpg">
          </div>
          <div class="content">
            <span class="header">{{sport.sport_type}} - {{sport.division}}</span>
            <div class="meta">
              <div ng-repeat="team in sport.teams" class="sport-team">{{team}}</div>
            </div>
          </div>
          <div class="extra content">
            <a href="javascript:void(0)" class="ui blue button" ng-click="view_sport(sport.sport_id)">View Sport</a>
          </div>
        </div>  
    </div>
  </div>

  <div class="ui modal" id="edit-sport-modal">
    <i class="close icon"></i>
    <div class="header">Edit Sport</div>
    <div class="content">
      <form class="ui big form">
        <div class="field">
          <label>Sport Type</label>
          <input placeholder="Sponsor Type" type="text" ng-model="edit_sport_info.sport_type">
        </div>
        <div class="field">
          <label>Sport Division</label>
          <select class="ui dropdown" ng-model="edit_sport_info.division" id="sport_division">
            <option value="" disabled selected>Division</option>
            <option value="men">Men</option>
            <option value="women">Women</option>
            <option value="mixed">Mixed</option>
          </select>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui button modal-close">Cancel</div>
      <div class="ui button modal-close" ng-click="edit_sport()">Submit</div>
    </div>
  </div>

  <div class="ui modal" id="add-sport-modal">
    <i class="close icon"></i>
    <div class="header">Add Sport</div>
    <div class="content">
      <form class="ui big form">
        <div class="field">
          <label>Sport Type</label>
          <input placeholder="Sport Type" type="text" ng-model="sport_type">
        </div>
        <div class="field">
          <label>Sport Division</label>
          <select class="ui dropdown" ng-model="division" id="sport_division">
            <option value="">Division</option>
            <option value="men">Men</option>
            <option value="women">Women</option>
            <option value="mixed">Mixed</option>
          </select>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui button modal-close">Cancel</div>
      <div class="ui button modal-close" ng-click="add_sport()">Submit</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#add-sport").click(function() {
      $("#add-sport-modal").modal("show");
    });

    $(".edit-sport").click(function() {
      $("#edit-sport-modal").modal("show");
    });

    $(".modal-close").click(function() {
      $(".ui.modal").modal("hide");
    });

    $('.special.cards .image').dimmer({
      on: 'hover'
    });
    $('.ui.dropdown').dropdown();
  });
</script>
