<div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="javascript:void(0)" class="grey-text text-darken-4 center" id="logo" ng-click="back_to_home()">MalICSi</a>
        <ul id="nav-mobile" class="right">
          <li><div class="grey-text text-darken-4" id="hello">Juan Dela Cruz</div></li>
          <li><a href="javascript:void(0)" data-activates="dropdown1" class="teal dropdown-button" id="dr" dropdown><i class="fa fa-reorder fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <ul id='dropdown1' class='dropdown-content'>
    <li>
      <div class="container blue center-align" id="upper">
        <i class="fa fa-user-circle fa-5x white-text"></i>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="view-dd" ng-click="view_profile()">
        <p class="center-align valign">VIEW PROFILE</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="view-dd" ng-click="view_user()">
        <p class="center-align valign">VIEW USER</p>
      </a>
    </li>
    <li class="divider">
    </li>
    <li>
      <a href="javascript:void(0)" class="logout-btn" ng-click="logout()">
        <p class="center-align valign">x logout</p>
      </a>
    </li>
  </ul>

  <h4 class="header">Team 1</h4>
  <div class="row contents">
    <div class="team-member">
      <table>
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Course</th>
            <th>College</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pedro Santos</td>
            <td>BSCS</td>
            <td>CAS</td>
          </tr>
          <tr>
            <td>Pedro Santos</td>
            <td>BSCS</td>
            <td>CAS</td>
          </tr>
          <tr>
            <td>Pedro Santos</td>
            <td>BSCS</td>
            <td>CAS</td>
          </tr>
          <tr>
            <td>Pedro Santos</td>
            <td>BSCS</td>
            <td>CAS</td>
          </tr>
          <tr>
            <td>Pedro Santos</td>
            <td>BSCS</td>
            <td>CAS</td>
          </tr>
          <tr>
            <td>Pedro Santos</td>
            <td>BSCS</td>
            <td>CAS</td>
          </tr>
          <tr>
            <td>Pedro Santos</td>
            <td>BSCS</td>
            <td>CAS</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="team-matches">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9999-12-31 23:59:59</td>
            <td>Team 2</td>
            <td>Win</td>
          </tr>
          <tr>
            <td>9999-12-31 23:59:59</td>
            <td>Team 2</td>
            <td>Win</td>
          </tr>
          <tr>
            <td>9999-12-31 23:59:59</td>
            <td>Team 5</td>
            <td>Win</td>
          </tr>
          <tr>
            <td>9999-12-31 23:59:59</td>
            <td>Team 3</td>
            <td>Win</td>
          </tr>
          <tr>
            <td>9999-12-31 23:59:59</td>
            <td>Team 4</td>
            <td>Win</td>
          </tr>
          <tr>
            <td>9999-12-31 23:59:59</td>
            <td>Team 3</td>
            <td>Win</td>
          </tr>
          <tr>
            <td>9999-12-31 23:59:59</td>
            <td>Team 3</td>
            <td>Win</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
     $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
</script>
