<div ng-controller="team-controller">

  
  <div class="row contents">
    <h3 class="content-header" ng-init="get_team_name()">Team {{team_name}}</h3>
    <div class="ui two column doubling stackable grid container">
      <div class="column" ng-init="get_team_profile()">
        <div class="ui raised very fluid padded container segment">
          <table class="ui very basic selectable collapsing celled table" id="team-table">
            <thead>
              <tr>
                <th><h3>Player Name</h3></th>
                <th><h3>Course</h3></th>
                <th><h3>College</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="users in user">
                <td>{{users.firstname + " " + users.middlename + " " + users.lastname}}</td>
                <td>{{users.course}}</td>
                <td>{{users.college}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column" ng-init="get_team_match()">
        <div class="ui raised very fluid padded container segment">
          <table class="ui very basic selectable collapsing celled table" id="sched-table">
            <thead>
              <tr>
                <th><h3>Match ID</h3></th>
                <th><h3>Date</h3></th>
                <th><h3>Opponent</h3></th>
                <th><h3>Result</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="teams in team">
                <td>{{teams.match_id}}</td>
                <td>{{teams.match_date_time | date: "medium"}}</td>
                <td>{{teams.team_name}}</td>
                <td>{{teams.score}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

});
</script>
