<div ng-controller="user-controller">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="javascript:void(0)" class="grey-text text-darken-4 center" id="logo" ng-click="back_to_home()">MalICSi</a>
        <ul id="nav-mobile" class="right">
          <li><div class="grey-text text-darken-4" id="hello">Juan Dela Cruz</div></li>
          <li><a href="javascript:void(0)" data-activates="dropdown1" class="teal dropdown-button" id="dr" dropdown><i class="fa fa-reorder fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <ul id='dropdown1' class='dropdown-content'>
    <li>
      <div class="container blue center-align" id="upper">
        <i class="fa fa-user-circle fa-5x white-text"></i>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="view-dd" ng-click="view_profile()">
        <p class="center-align valign">VIEW PROFILE</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="view-dd" ng-click="view_user()">
        <p class="center-align valign">VIEW USER</p>
      </a>
    </li>
    <li class="divider">
    </li>
    <li>
      <a href="javascript:void(0)" class="logout-btn" ng-click="logout()">
        <p class="center-align valign">x logout</p>
      </a>
    </li>
  </ul>

  <div class="row contents">
    <h3 class="header">User</h3>
    <h4 class="header">Pending User</h4>
    <div class="carousel">
      <div class="col s12 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu1"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu1" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu2"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu2" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>

      <div class="col s10 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu3"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu3" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>

      <div class="col s10 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu4"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu4" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>

      <div class="col s10 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu5"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu5" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>
      <div class="col s10 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu6"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu6" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>

      <div class="col s10 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu7"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu7" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>

      <div class="col s10 m3 carousel-item">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">Juan Dela Cruz</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu8"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu8" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light green " href="javascript:void(0)">Approve</a>
          </div>
        </div>
      </div>
    </div>
        
    <h4 class="header">Regular Users</h4>
    <div class="row">
      <form class="col s7 right">
        <div class="row">
          <div class="input-field col s7 right" id = "search">
            <i class="fa fa-search prefix"></i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Search users:</label>
          </div>
        </div>
      </form>
    </div>

    <div carousel ng-init="get_accounts()">
      <div class="col s12 m3 carousel-item" ng-class="{active:!$index}" ng-repeat="account in accounts">
        <div class="card small z-depth-3">
          <div class="card-image">
            <img src="img/sample-1.jpg">
            <span class="card-title">{{account.firstname}} {{account.middlename}} {{account.lastname}}</span>
            <a href="javascript:void(0)" class="dropdown-button option" data-activates="user-menu10"><i class="fa fa-sort-down right fa-2x"></i></a>
            <ul id="user-menu10" class='dropdown-content'>
              <li><a href="javascript:void(0)">edit</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">remove</a></li>
           </ul>
          </div>
          <div class="card-content c-contents">
            <p class="stud-num">2014-12345</p>
          </div>
          <div class="card-action">
            <a class="btn waves-light blue " href="javascript:void(0)">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
     $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
    $('.carousel').carousel({
        full_width: true
    });
  });
</script>