<div ng-controller="user-controller" ng-init="get_pending_accounts(); get_accounts()">
  <div class="row contents">
    <h3 class="content-header">User</h3>
    <h3 ng-if="profile.is_admin == 1">Pending User</h3>
    <h4 ng-if="pending_accounts.length == 0">No Pending User</h4>
    <div class="ui four stackable cards" ng-if="profile.is_admin == 1">
      <div class="card" ng-class="{active:!$index}" ng-repeat="(index, account) in pending_accounts">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
              </div>
            </div>
          </div>
          <img src="../img/user.png">
        </div>
        <div class="image" ng-if="profile.is_admin != 1">
          <img src="../img/user.png">
        </div>
        <div class="content">
          <span class="header">{{account.firstname}} {{account.middlename}} {{account.lastname}}</span>
          <div class="meta">
            {{account.college}} | {{account.course}}
          </div>
        </div>
        <div class="extra content">
          <a href="javascript:void(0)" class="fluid ui blue button view-more" ng-click="approve_user(index)">Approve</a>
        </div>
      </div>  
    </div>

    <h3>Regular User</h3>
    <div class="ui four stackable special cards" ng-if="profile.is_admin == 1">
      <div class="card" ng-class="{active:!$index}" ng-repeat="(index, account) in accounts | filter: {is_approved: 1}">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <a href="javascript:void(0)" class="ui inverted red button" ng-click="delete_approved_user(index)">Remove</a>
              </div>
            </div>
          </div>
          <img src="../img/user.jpg">
        </div>
        <div class="content">
          <span class="header">{{account.firstname}} {{account.middlename}} {{account.lastname}}</span>
          <div class="meta">
            {{account.college}} | {{account.course}}
          </div>
        </div>
        <div class="extra content">
          <a href="javascript:void(0)" class="fluid ui blue button view-more" ng-click="view_account(account.account_id)">View</a>
        </div>
      </div>  
    </div>

    <div class="ui four stackable cards" ng-if="profile.is_admin != 1">
      <div class="card" ng-class="{active:!$index}" ng-repeat="(index, account) in accounts | filter: {is_approved: 1}">
        <div class="image">
          <img src="../img/user.jpg">
        </div>
        <div class="content">
          <span class="header">{{account.firstname}} {{account.middlename}} {{account.lastname}}</span>
          <div class="meta">
            {{account.college}} | {{account.course}}
          </div>
        </div>
        <div class="extra content">
          <a href="javascript:void(0)" class="fluid ui blue button view-more" ng-click="view_account(account.account_id)">View</a>
        </div>
      </div>  
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
  $('.ui.dropdown').dropdown();
});
</script>
